<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{% block title %}Landing{% endblock %}</title>
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='landing/img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='landing/img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='landing/img/favicons/favicon-16x16.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='landing/img/favicons/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='landing/img/favicons/manifest.json') }}">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='landing/img/favicons/mstile-150x150.png') }}">    
    <meta name="theme-color" content="#ffffff">
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{{ url_for('static', filename='landing/css/theme.css') }}" rel="stylesheet" />
</head>

<body>
    <!-- ===============================================-->
    <!--    Navbar-->
    <!-- ===============================================-->
    {% include '_layout_landing/navbar.html' %}

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        {% block content %}{% endblock %}
    </main>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{{ url_for('static', filename='landing/vendors/@popperjs/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='landing/vendors/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='landing/vendors/is/is.min.js') }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{{ url_for('static', filename='landing/js/theme.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&amp;display=swap" rel="stylesheet">
</body>

</html>
